# Ignore IntelliJ IDEA files
.idea/
*.iml

# Ignore all target build folders in all sub-directories
**/target/

# Ignore log files
*.log

# Ignore environment secret files
.env

# VM crash logs
hs_err_pid*
replay_pid*

# Packaged files
*.jar
*.war
*.ear
